#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  border-bottom: solid 1px #2a2a2a;
  margin: 0px 0 25px 0;
  width: 90%;
}

.contact-header h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.social-container a h4 {
  display: none;
}

.reach-me {
  margin: 0px;
}

.social-icon {
  margin: 10px 15px 0 15px;
  height: 50px;
  width: 50px;
}

.github, .twitter {
  animation: social-icon-forward infinite 100s linear;
}

.linkedin, .instagram {
  animation: social-icon-backwards infinite 100s linear;
}

@keyframes social-icon-forward {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes social-icon-backwards {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


.contact-form-container {
  margin-top: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-input, .form-message {
  border: none;
  border-radius: 10px;
  height: 53px;
  margin: 10px;
}

.form-input {
  font-size: 27px;
  text-align: center;
}

.form-message {
  text-indent: 2%;
}

.form-button {
  align-self: center;
  background-color: #2a2a2a;
  border: none;
  border-radius: 5px;
  color: #F6F6F6;
  font-size: 20px;
  height: 45px;
  width: 90px;
}

.form-button:hover {
  background-color: #00caca;
  cursor: pointer;
}

.contact-footer {
  position: absolute;
  bottom: 1000px;
}

@media (min-width: 490px) {

  .contact-header{
    margin: 10px 0 25px 0;
  }

}

@media (min-width: 540px) {

  .contact-header {
    width: 70%;
  }

  .contact-form-container {
    width: 500px;
  }

}

@media (min-width: 670px) {

  .contact-header{
    margin: 25px 0 25px 0;
  }

}

@media (min-width: 945px) {

  .contact-container {
    width: 55%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: flex-start;
  }

  .social-container a {
    display: block;
    color: #2a2a2a;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .social-container a h4 {
    display: block;
  }

  .contact-form-container {
    margin-top: 20px;
  }

}

@media (min-width: 1050px) {
  .contact-form {
    width: 100%;
  }

  .form-input, .form-message {
    width: 100%;
  }

  .form-message {
    font-size: 20px;
    height: 80px;
  }

}
