.footer {
  align-items: center;
  background-color: #2a2a2a;
  display: flex;
  height: 75px;
  justify-content: center;
  margin-top: 15px;
}

.footer img {
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
}
