.Header {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  margin-bottom: 0;
}

.header-name {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.button-container {
  margin-top: 10px;
}

.button {
  border: none;
  background-color: #00caca;
  border-radius: 5px;
  color: #F6F6F6;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  height: 45px;
  width: 101px;
}

.button:hover {
  background-color: #0085a1;
  cursor: pointer;
}

.projects-button {
  margin-right: .5%;
  margin-left: .5%;
}

.projects-button, .contact-button {
  font-size: 19px;
}

@media (min-width: 490px) {

  .header-name {
    font-size: 60px;
  }

}

@media (min-width: 670px) {

  .Header {
    margin-top: 10px;
  }

  .header-name {
    font-size: 100px;
  }

  .button-container {
    margin-top: 0;
    margin-bottom: 15px;
  }

}
