.Header {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

.header-name {
  padding: 0;
  margin: 0;
}

.button-container {
  margin-top: 5%;
  margin-bottom: 0;
}

.button {
  border: none;
  background-color: #00caca;
  border-radius: 5px;
  color: #F6F6F6;
  font-size: 20px;
  height: 45px;
  width: 90px;
}

.button:hover {
  background-color: #0085a1;
  cursor: pointer;
}

.about-button {
  margin-right: .5%;
  margin-left: .5%;
}
